html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    font-family:serif;
    text-align: center;
    color:#40514E;
    background-color: white;
    cursor: default;
    padding: 0;
}
h1{
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size:562.5% ;
    position: absolute;
    top:5px;
    left:530px;
    margin-top: 50px;
    color:black;
}
h2{
    font-family: 'Merriweather', serif;
    color:#251f44;
}
h3{
    color:#035aa6;
}
p{
    font-size: 20px;
    line-height:1.5;
}
.Rohin{
    width:250px;
    height: 250px;
    padding:30px;
}
hr{
    border-style:none;
    border-top-style: dotted;
    width:10%;
    border-color:grey;
    border-width: 10px;
}
.web{
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px 30px 20px 0;
}
.c{
    width: 200px;
    height: 200px;
    float:right;
    margin: 0 20px 0 20px;
}
.skill-row{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.Contact_message{
    width: 40%;
    margin:auto;
    padding:2%;
}
.intro{
    width:35%;
    margin:auto;
    padding:2%;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:10 auto 10 auto;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.bottom-container{
      background-color: #66BFBF;  
}
.Copyright{
    margin:0;
    padding:20px 0 20px;
    color:white;
    font-size:0.75rem;
}
a{
    font-family: 'Merriweather', serif;
    color:#cbeaed;
    margin: 0 10px;
    text-decoration: none;
}
a:hover{
    color:#3282b8;
}
.container{
    position: relative;
    width: 100%;
}
.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: 39rem;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .image{
    opacity: 0.3;
}
.container:hover .middle{
    opacity: 1;
}
.text{
    background-color: rgba(0, 0, 0, 0.7);
    border-radius:3px;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
}